body {
    max-width: 1024px;
    font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
}
h1 {
    padding-top: 20px;
}
  
h3 {
    text-align: center;
    height: 30px;
    padding: 1rem;
    background:rgb(229, 206, 174, 0.2);
}

ul {
    list-style-type: none;
    padding-left: 0px;
    
}

a {
    color: #648880;
    text-decoration: none;
}

section{
    font-family: 'Dosis', sans-serif;
   
    font-weight: normal;
    font-size: 20px;
    color: rgb(49, 8, 8); 
    margin: 10px 10px;   
 }

 table{
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left; 
 }

 table td {
    border-bottom: 1px solid rgba(230,230,230,1);
    padding: 9px 8px;
    transition: .3s linear;
  }


 
 .nav {
    text-align: center;
    height: 50px;
    padding: 1.25rem;
    background-color:#111;
    color: #fff;
}


.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}



.nav li:last-child {
    margin-right: 0;
  
}

.photo {
    float: left;
    padding-top: 0px;
    margin-right: 20px;
}

img {
    border-radius: 20px;
    border: 1px solid white;
}

footer {
    height: 50px;
    padding: 1.25rem;
    background: #111;
    text-align: center;
}
.footer li {
    display: inline-block;
    color: #fff;
    
}

